body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background: #050505;
    color: white;
}
.hero {
    background-image: url("loggmejorado.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    background-color: black;
    padding: 15px;
    text-align: center;
}

nav a {
    color: red;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    border: 1px solid red;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.3s;
    display: inline-block;
}

nav a:hover {
    background-color: red;
    color: black;
}

.galeria {
    padding: 40px 20px;
    text-align: center;
}

.galeria h2 {
    margin-bottom: 30px;
    color: #b91111de;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.grid img {
    width: 250px;
    max-width: 90%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

.grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #81020279;
}


.info {
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 20px;
    text-align: center;
    background: rgba(109, 16, 16, 0.5);
}

.info h2 {
    color: white;
}


ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

li {
    margin-bottom: 8px;
}


.consultas {
    padding: 60px 20px;
    text-align: center;
    background-color: hsl(0, 25%, 2%);
}

.consultas h3 {
    color: #b91111de;
    font-size: 30px;
}

p {
    color: #b91111de;
}


input,
textarea {
    display: block;
    margin: 10px auto;
    width: 300px;
    max-width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

label {
    color: #b91111de;
}


.btn-enviar {
    background: #7a1010;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-enviar:hover {
    background: black;
    color: red;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #81020279;
}

.btn-enviar:active {
    transform: scale(0.95);
}


.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .hero {
        height: 250px;
    }

    nav a {
        display: block;
        margin: 10px auto;
        width: 150px;
    }

    .grid img {
        width: 90%;
        height: auto;
    }

    .consultas h3 {
        font-size: 24px;
    }

    input,
    textarea {
        width: 90%;
    }
}
